@charset "utf-8";
html{
    scroll-behavior: smooth; /*animacion del scroll*/
}
body{
    margin: 0;
    color: black;
    background: white url(../img/fondo.gif)no-repeat fixed center;
    font: 16px "times new roman"
}
a{
    font-weight: bold;
    color: blue;
}
h1{
    text-decoration: underline;
    text-align: center;
    font-size: 36px;
}
h2{
    font-size:18px;
}
.container{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-columns: 1fr;
}
header{
    grid-area: header;
    background: black;
    text-align:center;
}
header img{
    width: 100vw;
}
nav{
    padding: 10px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav ul li{
    list-style: none;
    align-self: center;
}
nav ul li a{
    font:bold 14px verdana;
    text-decoration: none;
    color: white;
    background: red;
    border: medium solid white;
    padding: 8px 0;
    width: 160px;
    display: block;
    margin: 5px 12px;
}
nav ul li a:hover{
    color: red;
    background: white;
    border: medium inset red;
}
.recetas a {
    background: gainsboro;
    color: red;
    border: medium inset gray;
}
.recetas a:hover {
    background: red;
    color: black;
    border: medium inset gainsboro;
}
section{
    grid-area:section;
    margin: 20px 0;
    padding:0 10px;
}
.bloques{
    display: flex;
    flex-direction: column;
}
.bloque{
    width: 280px;
    padding: 0 5px;
    text-align: center;
    border: thin solid #424242;
    box-shadow: 5px 5px 10px;
    margin: 20px 0;
    align-self: center;
}
.bloque h2{
    color: red;
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.coctel{
    width: 90vw;
    margin: 0 auto;
    padding: 5px;
}

.fotococtel img{
    max-width: 300px;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}
.ingredientes, .preparacion{
    width: 90vw;
    padding: 5px;
}
footer{
    background: black;
    grid-area: footer;
}
.pie{
    width: 90vw;
    margin: 0 auto;
    padding: 10px 0;
    column-count: 2;
    column-gap: 10px;
}
.pie ul{
    margin: 0;
}
.pie ul li{
    color: red;
}
.pie ul li a{
    color: white;
    text-decoration: none;
}
.pie ul li a:hover{
    color: red;
}
table{
    width:800px ;
    border:  thick outset red;
    box-shadow: 5px 5px 2px;
    border-collapse: collapse;
    margin:0 auto;
}
th{
    background: #ffd2d2;
    border: 2px solid red;
    
}
td{
    border: 2px solid red;
    padding: 5px;
    text-align: left;
}
table img{
    max-width: 200px;
    margin: 0 auto;
    display: block;
}
.contenedor_tabla{
    margin-bottom: 20px;
    overflow-x: auto;
    width: 90vw;
}
p{
    text-align: justify;
    margin: 10px;
    padding: 10px;
    
}
.tabla_responsive{
    overflow-x: auto ;
    width: 90vw;
    padding-bottom: 20px;
}
form{
    font-size: 26px;
    font-weight: bold;
}
input[type="text"],input[type="email"], textarea{
    box-shadow: 2px 2px 5px;

}
textarea{
    width: 98%;
}
.separador{
    text-align: center;
    padding: 15px 0;
}
@media (min-width:500px){
    nav ul{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
    } 
    nav ul li:last-of-type{
        position: relative;
    }
    .recetas{
        position: absolute;
        display: none;
        background: black;
    }
    nav ul li:last-of-type:hover .recetas{
        display: block;
    }
    .coctel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "foto ingredientes"
        "foto preparacion";
    }
    .ingredientes{
        grid-area: ingredientes;
        width: auto;
    }
    .preparacion{
        grid-area: preparacion;
        width: auto;
    }
    .fotococtel{
        grid-area: foto;
    }
    textarea{
        width: auto;
        resize: none;
    }
}
@media (min-width:1000px){
    section{
        max-width: 1100px;
        margin: 0 auto;
    }
    header img{
        max-width: 1100px;
    }
    nav ul{
        justify-content: center;
    }
    .bloques{
        flex-direction: row;
        justify-content: space-around;
    }
    .coctel{
        width: 90%;
    }
    .pie{
        max-width: 1100px;
        column-count: 3;
    }
    .contenedor_tabla{
        width: auto;
    }
    .tabla_responsive{
        width: auto;
    }
}